* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

/*           header           */

.header {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    padding: 14px 220px;
}

.logo {
    position: relative;
    width: 82px;
    height: 52px;
    border: 1px solid #fff;
    padding: 3.55px 4.75px;

}

.logo__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #fff;
}

.logo__img {
    position: absolute;
    top: 23px;
    left: 10px;
}

.header__logo-nav {
    display: flex;
    flex-wrap: nowrap;
}

.nav {
    margin-left: 34px;
    display: flex;
    align-items: center;
    flex-direction: row nowrap;
}

.nav__el {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    margin-left: 29px;
    margin-right: 29px;
}

.nav__el:hover {
    background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav__el-1 {
    background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.copyright {
    display: flex;
    align-items: center;
}

.copyright__el {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
}

.copyright__el:hover {
    background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*                           main                        */

/*             first block             */
.first-block {
    background-image: url(../../assets/images/Giant\ Panda.png);
    background-size: cover;
    padding-top: 12px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.first-block__circle {
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
    grid-column: 2;
    position: relative;
}

.first-block__circle__text {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-top: 74px;
    margin-left: 74px;
}

.first-block__circle__text_yellow {
    color: #ffee2e;
}

.first-block__button {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    margin-top: 70px;
    margin-left: 160px;
}
.first-block__button__text {
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*             second block             */

